<div id="left_all_nav" class="all-nav">			
		<div class="nav01"><a nav="site|overview" class="leftNav">导航菜单</a></div>        		
		<div class="nav-open main_nav">统计列表</div>
		<div id="meuqipao" class="open">
			<ul info="flow" class="main_nav_sub">
               <div class="showdivqipao">
                   <li class="showlabel" >
					<a href="{:U("User/index")}" class="leftNav">访客列表</a>
					<span class="ty"  style="display: none;">
						<a class="left_a_today">今</a>
						<a class="left_a_yesterday">昨</a>
					</span>
					</li>
               </div>
				<li>
					<a href="{:U("Site/lists")}" class="leftNav">站点列表</a>
				</li>
				<li>
					<a href="{:U("Site/add")}" class="leftNav">添加站点</a>
				</li>
				
            </ul>
		</div>		
 </div>
	 	 <div class="setup-nav">
			<div class="title_open">设置</div>
			<ul>
			    <li><a href="{:U("User/expor")}"> 访客邮件导出</a></li> 
			   <li><a href="{:U("User/mailtpl")}"> 邮件内容设置</a></li> 
			   <li><a href="{:U("User/mail")}"> 邮件发送配置</a></li>
			   <li><a href="{:U("User/pass")}"> 修改密码</a></li>
	            <li><a href="{:U("Public/loginout")}"> 退出系统</a></li>
			</ul>
         </div>