<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="网站访客QQ号信息精准统计系统" />
<meta name="description" content="{$cfg_sitetitle} - 访客信息统计系统" />
<title>{$cfg_sitetitle}_{$cfg_seotitle}</title>
<link rel="Shortcut Icon" href="/static/img/favicon.ico" />
<link rel="Bookmark" href="/static/img/favicon.ico" />
<link href="/static/css/siteList.all.css" rel="stylesheet" type="text/css" />
<link href="/static/css/report.all.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="userLoginHeader" id="userLoginHeader"  >
<include file="./view/head.html"/>
</div>
<div class="section">
<div id="leftAllNavRoot" class="left-nav">
	<div id="left_common_nav_report" class="common-nav-open hide"></div>
	<include file="./view/left.html"/>
</div>
	<div class="rightContainer" id="rightContainer"><div class="flow_detail">
	<div id="rightTopTitle" class="right_top_title">
	<span id="right_top_title">站点列表</span>	
	<a class="help rightHeaderTip" title="提供站点列表记录">&nbsp;</a>
</div>

	
<div id="flow_detail_report" class="report_data">
	<div class="report_title">
		<form action="index.php" method="GET" id="form">
		 <input type="hidden" id="m" name="m" value="Site"/>
		<input type="hidden" id="a" name="a" value="show"/>
		<ul id="flow_detail_report_title">
			<li>
			<广告位>
			</li>
		
		</ul>
		</form>
	</div>

	<table id="flow_detail_pv_table" class="report" style="display: table;">
		<tbody><tr class="title reportTableTitle" style="width: 1031px; margin-top: 0px; position: static; top: 0px; border-bottom: medium none;">
			<td class="time" style="width: 80px;">站点编号</td>
			<td style="width: 100px;">站点名称</td>
			<td style="width: 200px;">站点域名</td>
			<td style="width: 100px;">创建时间</td>
			<td style="width: 300px;">相关操作</td>
		</tr>
		<volist name="list" id="vo">
	<tr class="bg-white">
		<td style="text-align: center;">
                       <div style="width:90px; overflow: hidden;">
					    {$vo.id}						</div>
					</td>
					<td style="text-align: left;">
                       <div style="width:90px; text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">
						 {$vo.title}						</div>
					</td>
					<td style="text-align: left;">
						<div style="width:180px;  text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">
                           {$vo.domain}						</div>
					</td>
					<td>
						<div style="width:250px; text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                           {$vo.time|date="Y-m-d H:i:s",###}					</div>
					</td> 
					<td>                  
						<div style="width:350px; text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
							<a href="{:U("User/index","sid=$vo[id]")}" target="_blank" style="color:red">[查看访客列表]</a>&nbsp;&nbsp;
                           <a href="{:U("Site/getCodeJs",array('sid'=>$vo[id]))}" target="_blank" style="color:red">[获取JS代码]</a>&nbsp;&nbsp;
                           <a href="{:U("Site/add",array('sid'=>$vo[id]))}" target="_blank" style="color:red">[编辑站点信息]</a>&nbsp;&nbsp;
						</div> 
                    </td>
	</tr>	
	</volist>
	</tbody></table>

	<div class="pageDiv hide" style="display: block;">
		<div id="flow_detail_page"><div class="pagination">{$page}</div></div>
	</div>
</div>
	
</div>

</div>	
</div>
<div class="footer" id="footer">
    <include file="./view/foot.html"/>
	</div>
</body>
</html>