<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="网站访客QQ号信息精准统计系统" />
<meta name="description" content="{$cfg_sitetitle} - 访客信息统计系统" />
<title>访客列表_{$cfg_seotitle}</title>
<link rel="Shortcut Icon" href="/static/img/favicon.ico" />
<link rel="Bookmark" href="/static/img/favicon.ico" />
<link href="/static/css/siteList.all.css" rel="stylesheet" type="text/css" />
<link href="/static/css/report.all.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="/static/js/showdate.js"></script>
</head>
<SCRIPT language=javascript>
function selectSite(sobj) {
	var sid =sobj.options[sobj.selectedIndex].value;
	if (sid != "") {
	   open("index.php?method=User&do=index&sid="+sid,'_self');
	   sobj.selectedIndex=0;
	   sobj.blur();
	}
}

function selectDate(){
		var st=document.getElementById('st').value;
		var et=document.getElementById('et').value;
		return duibi(st,et);
}

function duibi(a, b) {
    var arr = a.split("-");
    var starttime = new Date(arr[0], arr[1], arr[2]);
    var starttimes = starttime.getTime();

    var arrs = b.split("-");
    var lktime = new Date(arrs[0], arrs[1], arrs[2]);
    var lktimes = lktime.getTime();

    if (starttimes > lktimes) {

        alert('开始时间大于结束时间，请检查');
        return false;
    }
    else
        return true;

}
</SCRIPT>
<body>
<div class="userLoginHeader" id="userLoginHeader"  >
<include file="./view/head.html"/>
</div>
<div class="section">
<div id="leftAllNavRoot" class="left-nav">
	<div id="left_common_nav_report" class="common-nav-open hide"></div>
	<include file="./view/left.html"/>
</div>
	<div class="rightContainer" id="rightContainer"><div class="flow_detail">
	<div id="rightTopTitle" class="right_top_title">
	 	<span id="right_top_title">访客列表</span>	
	<a class="help rightHeaderTip" title="提供访客的详细访问记录">&nbsp;</a>
</div>

	
<div id="flow_detail_report" class="report_data">
	<div class="report_title">
		<form action="index.php" method="GET" id="form">
		<input type="hidden" id="suid" name="suid" value=""/>
		<input type="hidden" id="method" name="method" value="User"/>
		<input type="hidden" id="do" name="do" value="index"/>
		<ul id="flow_detail_report_title">
			<li>日期范围：<input type="text" id="st" name="st" onclick="return Calendar('st');" value="" class="text" style="border:1px solid #888; vertical-align:middle;width:85px;"/>-<input type="text" id="et" onclick="return Calendar('et');" value="" name="et" class="text" style="border:1px solid #888; vertical-align:middle;width:85px;"/> <input type="submit" onclick="return selectDate()" value="查询" /> </a></li><li class="hour-select">所属域名：
			<select name="sid" onchange="selectSite(this)" id="sid" >  
						<option value="0">全部站点</option>
						<volist name="mysite" id="s">
						 <option value="{$s.id}" <eq name="Think.get.sid" value="$s[id]">selected</eq>>{$s.domain}({$s.title})</option>
                        </volist>
						 </select>  
			</li>
			<li><a href="{:U("Site/add")}" class="leftNav">没有站点？先添加一个站点</a></li>
		</ul>
		</form>
	</div>

	<table id="flow_detail_pv_table" class="report" style="display: table;">
		<tbody><tr class="title reportTableTitle" style="width: 1031px; margin-top: 0px; position: static; top: 0px; border-bottom: medium none;">
			<td class="time" style="width: 100px;">所属站点</td>
			<td style="width: 100px;">浏览时间</td>
			<td style="width: 180px;">QQ/昵称</td>
			<td style="width: 370px;">访问地址</td>
			<td style="width: 310px;">访问来源</td>
			<td style="width: 110px;">访问者IP</td>
		</tr>
		<volist name="list" id="vo">
	<tr class="bg-white">
		<td style="text-align: left;">
                       <div style="width:100px; text-align:left; overflow: hidden;">
					   ({$vo.webid})<br />{:get_domain($vo[webid])}						</div>
					</td>
					<td style="text-align: left;">
                       <div style="width:100px; text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">
						{$vo.time|date="m-d H:i:s",###}						</div>
					</td>
					<td style="text-align: left;">
						<div style="width:180px;  text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; ">
                            QQ：<a class="blue12"  target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={$vo.qq}&site=zzsoft&menu=yes" title="点击对话该访客">
							{$vo.qq}&nbsp;<img border="0" src="http://wpa.qq.com/pa?p=2:{$vo.qq}:52" alt="联系访客" title="联系访客">
							</a><br />昵称：{$vo.qqnick}<br />
						</div>
					</td>
					<td>
						<div style="width:250px; text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            <a class="blue12" href="{$vo.url}" target="_blank" title="#">
								{$vo.url}						</a><br />标题：{$vo.title}						</div>
					</td> 
					
					<td>                  
						<div style="width:250px; text-align:left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            <a class="blue12" href="{$vo.referer}" target="_blank" title="#">
								{$vo.referer}							</a><br />关键词{$vo.keyword}
						</div>           
                    </td>
					<td>   
						<div style="width:120px;">
						{$vo.ip}<br />({$vo.ipcity})
						</div>
                    </td>
	</tr>
	</volist>
	</tbody></table>

	<div class="page">
		<div class="page-inner"> {$page}         </div>
	</div>
</div>
	
</div>

</div>	
</div>
﻿<div class="footer" id="footer">
   <include file="./view/foot.html"/></div>
</body>
</html>