<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="keywords" content="网站访客QQ号信息精准统计系统" />
<meta name="description" content="{$cfg_sitetitle} - 访客信息统计系统" />
<title>添加邮件内容_{$cfg_seotitle}</title><link rel="Shortcut Icon" href="/static/img/favicon.ico" />
<link rel="Bookmark" href="/static/img/favicon.ico" />
<link href="/static/css/siteList.all.css" rel="stylesheet" type="text/css" />
<link href="/static/css/site_add.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" charset="utf-8" src="/static/ueditor1_3_6-utf8-php/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="/static/ueditor1_3_6-utf8-php/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <script type="text/javascript" charset="utf-8" src="/static/ueditor1_3_6-utf8-php/lang/zh-cn/zh-cn.js"></script>
</head>
<body>
<div class="userLoginHeader" id="userLoginHeader"  >

<include file="./view/head.html"/>

</div>
<div class="section">	
	<div style="margin:0 40px 10px 5px;height:30px;">
		<div style="line-height:30px;float:left;font-size: 14px;font-weight: bold;">
		添加邮件内容		</div>
	</div>
	
	<div class="site_add clearfix">
		<!-- 填写必填信息 -->
		
		<form action="{:U("User/domailtplSave")}" method="post" class="think-form cf" id="form">
		<input type="hidden" name="id" value="{$id}"/>
		
		<table class="reg">
			<tr>
				<td class="name">邮件标题：</td>
				<td><input type="text" name="title" value="{$title}" id="title"/>&nbsp;&nbsp
                     <div class="suggestion_error" id="errormsg_sitename"></div>
					 <div class="suggestion"></div>	
				</td>
			</tr>
			
		
			<tr>
				<td class="name top">邮件内容：</td>
				<td>
								<textarea name="body" style="width:800px" id="body" cols="50" rows="15">{:stripslashes($body)}</textarea>	 
								<script type="text/javascript"> 

    var editor = new UE.ui.Editor(); 

    editor.render("body"); 

    //1.2.4以后可以使用一下代码实例化编辑器

    //UE.getEditor('myEditor')

</script> 
					  
					<div class="suggestion_error01" id="errormsg_domainlist"></div>
				</td>
			</tr>
							</table>
		
                
				<input class="add_icon" name="addsubmit" value=""  type="image" id="addsubmit"></div>
                <div class="loading35 hide statusLoading"></div>
		</form>
	</div>
	
</div>
﻿<div class="footer" id="footer">
    <include file="./view/foot.html"/>
	</div>
</body>
</html>